<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Seja Bem-Vindo</h1>
    <h2>Projeto desenvolvido com o intuito de estudar Python Web</h2>
    <h3>Para ir para a primeira tela click no botão</h3>

    <input type="button"
           value="Tela 1"
           onclick="window.location='http://localhost:5000/tela1';"/>

    <input type="button"
           value="Tela Cadastro"
           onclick="window.location='http://localhost:5000/cadastro';"/>
</body>
</html>